*
{
    padding: 0%;
    margin: 0%;
}

@font-face {
    font-family: Fasthand;
    src: url(/Fonts/Fasthand/Fasthand-Regular.ttf);
}
@font-face {
    font-family: Fogato;
    src: url(/f24q220-fogato-fogato-regular-400.ttf);
}

.logosignin
{
    min-width: 100%;
    max-width: 100%;
    height: 65px;
    background-color: #17aebc;
    display: flex;
    /* padding-right: 5px; */
    /* margin: 5px; */
    align-items: center;
    justify-content:space-between ;    
    
}
.logo
{
    font-size: 20px;
    text-align: center;
    border-radius: 25px;
    font-family: Fasthand;
    height: 40px;
    width: 75px;
    margin: 5px;
    padding-top: 15%;
    color: #0d4659;
    background-color: #deecf4;
}
.user img
{
    margin: 2%;
    height: 40px;
}
body
{
    min-width: 100%;
    background-image: linear-gradient( #0FA3B1,#fffdfd);
    background-repeat: no-repeat;
    min-height: 100vh;
}
.rightside
{
    min-width: 50%;
    height: 100px;
}
.tagline
{
    position: absolute;
    right: 0%;
    margin: 3% 0% 3% 0%;
    padding-top: 4%;
    text-align: center;
    font-family: Fogato;
    padding-right: 4%;
}
.firstparttag
{
    /* padding-right: 5%; */
    font-size: 55px;
}
.secondparttag
{
    /* padding-left: 25%; */
    font-size: 55px;
}
.thirdparttag
{
    font-family: Helvetica;
    padding-left: 60%;
    font-weight: 700;

}
.overlap
{
    position: absolute;
    min-width: 100%;
    max-width: 100%;
    
}
.bottom
{
    position: absolute;
    z-index: 0;
    left: 0%;
    background-color: #57b9da;
    height: 400px;
    width: 37%;
    margin-bottom: 15%;
    border-top-right-radius: 15%;
    border-bottom-right-radius: 15%;
    box-shadow:2px 2px #115b76;
}
.upper
{
    position: absolute;
    z-index: 1;
    left: 0%;
    background-color: #b5e5fa;
    height: 500px;
    width: 33%;
    margin-top: 2%;
    margin-bottom: 15%;
    border-top-right-radius: 15%;
    border-bottom-right-radius: 15%;
    box-shadow:2px 2px #115b76;
}
.upper #text1
{
    width: 75%;
    border: black 1px;
    text-align: center;
    margin: 8%;
    font-family: Helvetica;
    font-size: 30px;
    line-height: 70px;
    /* text-wrap: wrap; */
}
.right
{
    position: absolute;
    z-index: 1;
    right: 77%;
    padding-top: 3% ;
    
}
.right img
{
    animation: rotate 30s linear infinite;
    height: 250px;
    /* box-shadow:2px 2px #ffffff; */
    /* padding-right: 10%; */

}
.explorefromhome
{
    position: absolute;
    min-width: 100%;
    align-items: center;
}
.explorefromhome #explore
{

    width: 43%;
    height: 10px;
    background-color: #ffe5dc;
}

.explore{
    right: 20%;
    margin-top: 18%;
    position: absolute;
    height: 25%;
    width: 55%;
    background-color: #0c677b;
    border-radius: 20px;
    font-family: Helvetica;
    font-size: 25px;
    text-align: center;
    /* position: relative; */
    overflow: hidden;
    color: #F9F7F3;
    transition: transform .40s ease;
}
.explore:hover{
    transform: scale(1.1);
}



#text {
    font-weight: bold;
    display: inline-block;
    /* position: absolute; */
    transition: transform 1s ease-in-out;
    margin-top: 4%;
}

.slide-out {
    transform: translateY(-100%);
}

.slide-in {
    transform: translateY(0);
}

.off-screen {
    transform: translateY(100%);
}

@keyframes rotate
{
    0%
    {
        transform: rotate(0deg);

    }
    100%
    {
        transform: rotate(360deg);
    }
}

@media (max-width: 1336px)
{
    .right img
    {
        height: 175px;
    }
    .upper #text1
    {
        font-size: 25px;
    }
}
@media (max-width: 1220px)
{
    .right img
    {
        height: 150px;
    }
}
@media (max-width: 1115px)
{
    .bottom
    {
        height: 320px;
    }
    .upper
    {
        height: 420px;
    }
    .upper #text1
    {
        font-size: 20px;
        line-height: 60px;
    }
    .firstparttag
    {
        /* padding-right: 5%; */
        font-size: 45px;
    }
    .secondparttag
    {
        /* padding-left: 25%; */
        font-size: 45px;
    }
    .thirdparttag
    {
        font-family: Helvetica;
        padding-left: 60%;
        font-weight: 700;
        font-size: 10px;

    }
    .explore
    {
        font-size: 20px;
    }
}
@media (max-width: 940px)
{
    .right img
    {
        height: 125px;
    }
}
@media (max-width: 890px)
{
    .bottom
    {
        height: 250px;
    }
    .upper
    {
        height: 350px;
    }
    .upper #text1
    {
        font-size: 15px;
        line-height: 50px;
    }
    .firstparttag
    {
        /* padding-right: 5%; */
        font-size: 30px;
    }
    .secondparttag
    {
        /* padding-left: 25%; */
        font-size: 30px;
    }
    .thirdparttag
    {
        font-family: Helvetica;
        padding-left: 60%;
        font-weight: 700;
        font-size: 5px;

    }
    .explore
    {
        font-size: 10px;
    }
    .explore img
    {
        height: 10px;
    }
}
@media (max-width: 685px)
{
    .bottom
    {
        height: 150px;
    }
    .upper
    {
        height: 250px;
    }
    .upper #text1
    {
        font-size: 10px;
        line-height: 35px;
    }
    .firstparttag
    {
        /* padding-right: 5%; */
        font-size: 25px;
    }
    .secondparttag
    {
        /* padding-left: 25%; */
        font-size: 25px;
    }
    .thirdparttag
    {
        font-family: Helvetica;
        padding-left: 60%;
        font-weight: 700;
        font-size: 5px;
    }
    .right img
    {
        height: 100px;
    }
}
@media (max-width: 443px)
{
    .bottom
    {
        height: 92px;
    }
    .upper
    {
        height: 192px;
    }
    .upper #text1
    {
        font-size: 7px;
        line-height: 27px;
    }
    .explore
    {
        right: 5%;
    }
    .right img
    {
        height: 75px;
    }
    .right
    {
        right: 63%;
    }
}
@media (max-width: 399px)
{
    .explore
    {
        right: 5%;
        font-size: 7px;
        width: 42%;
    }
    .right img
    {
        height: 65px;
    }
    .right
    {
        right: 55%;
    }
    .firstparttag
    {
        /* padding-right: 5%; */
        font-size: 20px;
    }
    .secondparttag
    {
        /* padding-left: 25%; */
        font-size: 20px;
    }
}
@media (max-width: 310px)
{
    .bottom
    {
        height: 60px;
    }
    .upper
    {
        height: 137px;
    }
    .upper #text1
    {
        font-size: 5px;
        line-height: 20px;
    }
    .firstparttag
    {
        text-align: center;
        /* padding-right: 5%; */
        font-size: 15px;
    }
    .secondparttag
    {
        text-align: center;
        /* padding-left: 25%; */
        font-size: 15px;
    }
    .thirdparttag
    {
        text-align: center;
        font-family: Helvetica;
        padding-left: 35%;
        font-weight: 700;
        font-size: 5px;
    }
    .explore
    {
        right: 5%;
    }
    .right img
    {
        height: 50px;
    }
    .right
    {
        right: 55%;
    }
}
@media (max-width: 308px)
{
    .explore
    {
        margin-top: 10%;
        font-size: 5px;
    }
    .explore img
    {
        height: 7px;
    }
}
@media (max-width: 222px)
{
    .bottom
    {
        height: 60px;
    }
    .upper
    {
        height: 105px;
    }
    .upper #text1
    {
        font-size: 4px;
        line-height: 15px;
    }
    .firstparttag
    {
        text-align: center;
        /* padding-right: 5%; */
        font-size: 7px;
    }
    .secondparttag
    {
        text-align: center;
        /* padding-left: 25%; */
        font-size: 7px;
    }
    .thirdparttag
    {
        text-align: center;
        font-family: Helvetica;
        padding-left: 35%;
        font-weight: 700;
        font-size: 3px;
    }
    .explore
    {
        right: 5%;
        font-size: 3px;
        height: 15%;
    }
    .right img
    {
        height: 30px;
    }
    .right
    {
        right: 52%;
    }

}
@media (max-width: 177px)
{
    .bottom
    {
        height: 50px;
    }
    .upper
    {
        height: 82px;
    }
    .upper #text1
    {
        font-size: 3px;
        line-height: 12px;
    }
    .firstparttag
    {
        font-size: 7px;
    }
    .secondparttag
    {
        font-size: 7px;
    }   
    .thirdparttag
    {
        font-family: Helvetica;
        padding-left: 30%;
        font-weight: 700;
        font-size: 5px;
    }
    .explore
    {
        font-size: 5px;
        margin-top: 10%;
    }
    .explore img
    {
        height: 10px;
    }
}
